<h2>Topics</h2>
<div style="height: 80%; overflow-y: auto; margin-bottom: 1rem; border: 1px solid #caa;">
    @for (topic of topics(); track topic.id) {
    <app-topic style="width: 800px;" [topic]="topic"></app-topic>
    }
    <!-- Display existing list of topics -->
</div>
<!-- Display add topic component -->
@if (permissionService.canAddTopic()()) {
    <div style="border: 1px solid #caa; padding: 10px; margin-bottom: 1rem; border-radius: 5px;">
        <app-add-topic></app-add-topic>
    </div>
}