<div style="border: #aaa solid 1px; padding: 5px;">
    <details>
        <summary
            style="cursor: pointer; font-weight: bold; display: flex; flex-direction: row; justify-content: space-between;">
            <div>{{topic().title}}</div>
            @if (permissionservice.canDeleteTopic(topic())()) {
                <button style="margin-left: auto;" (click)="onDeleteTopic()">Delete Topic</button>
            }
        </summary>
        <div style="display: flex; flex-direction: row;">
            <div style="width: 90%;">{{topic().body}}</div>
            <div style="display: flex; flex-direction: column;width: 10%; align-items: flex-end;">
                <div style="display: flex; flex-direction: row;">
                    <div>{{topic().author.name}}</div>
                </div>
                <div style="display: flex; flex-direction: row;">
                    <div>{{topic().author.email}}</div>
                </div>
            </div>

        </div>
        <div style="display: flex; flex-direction: row;">
            @if (permissionservice.canComment()()) {
                <button style="margin-left: auto;" (click)="onAddComment()">Comment</button>
            }
        </div>
        @if (topic().comments.length > 0 || showAddComment) {
        <hr style="border: solid 1px #aaa;">
        <h4 style="margin: 0px;">Comments</h4>
        @if (showAddComment) {
        <app-add-comment [author]="user()!" [topicId]="topic().id"  (finished)="showAddComment = false"></app-add-comment>
        }
        @for (comment of topic().comments; track $index) {
        <app-comment style="display: block; margin-left: 2rem;" [topicId]="topic().id" [comment]="comment"></app-comment>
        }
        }
    </details>
</div>