<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
  <h1>Forum</h1>
  <div style="display: flex; flex-direction: row; align-items: center; margin: 5px; gap: 1rem;">
    <label for="users">Logged in User</label>
    <select name="users" id="users" (change)="onUserSelect($event)">
      @for (user of users(); track $index) {
      <option value="{{user.id}}">{{user.name}}</option>
      }
    </select>
  </div>
</div>

<div style="display: flex; flex-direction: row;">
  <div style="display: flex; flex-direction: column; margin: 0rem 1rem">
    <h2>Pages</h2>
      <a routerLink="/homepage" routerLinkActive="selected">Topics</a>
      <a routerLink="/profile" routerLinkActive="selected">Profile</a>
  </div>
  <div div class="page-content">
    <router-outlet/>
  </div>

</div>