.invalid-input {
    background-color: #faa;
    border: #c0a solid 1px;
}

.has-permission {
    background-color: greenyellow;
}

.no-permission {
    background-color: red;
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

